body{
    background-color: black;
    margin: 0;
}
.full{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
.boxtop img,
.box25 img,
.box50 img{
    width: 100%;
}
.box25{
    width: calc(25% - 15px);
    float: left;
}
.boxtext{
    color: aliceblue;
}
button{
    width: 100%;
    padding: 8px;
    background-color: rgba(252, 252, 252, 0);
    border: 1px solid darkorange;
    color: aliceblue;
}
button:hover{
    background-color: darkorange;
}
.mr15{
    margin-right: 15px;
}
.pad20{
    padding-top: 20px;
}
.box50{
    width: calc(50% - 15px);
    float: left;
}
.boxt{
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}