body{
    margin:0;
}
.full{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.dau{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}
.logo{
    width: 20%;
    float: left;
}
.menu{
    width: 80%;
    float: left;
}
.menu>ul>li{
    display: inline-block;
}
.menu>ul>li>a{
    display: block;
    text-decoration:none;
    font-variant:small-caps;
    font-size:larger;
    color:white;
    padding:0 0px;
    line-height:0px;
}
.menu>ul{
padding:30px;
margin:0px;
list-style:none;
border-radius:3px;

}
.box50 img,
.box25 img{
    width: 100%;
}
.box50{
    width: calc(50% - 15px);
    float: left;  
}
.box50 img{
    border-radius: 20px;
    box-shadow: 0px 5px 10px lightslategrey;
}
.box25{
    width: calc(25% - 15px);
    float: left;
}
.text{
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    
}
button{
    background-color: rgba(255, 255, 254, 0);
    border-radius: 20px;
    border-color: chocolate;
    font-size: larger;
    color: chocolate;
}
button:hover{
    background-color: chocolate;
    color: aliceblue;
}
.mr15{
    margin-right: 15px;
}
.mr5{
    margin-right: 5px;
}
.pad20{
    padding:40px 0px;
}
.star{
    color: yellow;
}

